{# templates/curso/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Edit Curso{% endblock %}

{% block body %}
    <h1>Edit Curso</h1>

    {# Formulario del curso con asignaturas #}
    {{ form_start(form) }}
        {{ form_row(form.nombre) }}
        
        {# Aquí se muestra el campo de asignaturas como un select con opciones #}
        <div class="form-group">
            <label for="asignaturas">Asignaturas</label>
            {{ form_row(form.asignaturas) }}
        </div>

        <button class="btn btn-primary" type="submit">Update Course</button>
    {{ form_end(form) }}

    <a href="{{ path('app_curso_index') }}">Back to list</a>
{% endblock %}
