{% extends 'base.html.twig' %}

{% block title %}Curso index{% endblock %}

{% block body %}
    <h1>Curso index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Asignaturas</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for curso in cursos %}
            <tr>
                <td>{{ curso.id }}</td>
                <td>{{ curso.nombre }}</td>
                <td>
                    {% if curso.asignaturas|length > 0 %}
                        <ul>
                            {% for asignatura in curso.asignaturas %}
                                <li>{{ asignatura.nombre }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <span>No hay asignaturas</span>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_curso_show', {'id': curso.id}) }}">Show</a>
                    <a href="{{ path('app_curso_edit', {'id': curso.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_curso_new') }}">Create new</a>
{% endblock %}
